@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("0_rRBG7spWew7fGBIp.jpg");
  background-size: cover;
}

.modal_project {
  height: 30vh;
  width: 600px;
  border-radius: 0.35rem;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.modal_project p {
  font-size: 3.5rem;
  font-weight: bolder;
}

#open_modal {
  background-color: #61add8;
  color: #fff;
  padding: 0.3rem 0.4rem;
  z-index: 1;
  font-weight: 800;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 300ms linear;
}

#open_modal:hover {
  color: #61add8;
  background-color: #fff;
  outline: 2px solid #61add8;
}

.modal_content {
  position: absolute;
  height: 26vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  display: none;
  width: 600px;
  align-content: center;
  text-align: center;
  z-index: 3;
  background-color: #fff;
}

#modal_content_close {
  position: absolute;
  cursor: pointer;
  color: #851111;
  top: 1%;
  right: 1%;
  font-size: 2rem;
}

.modal_outlay {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #71c2f150;
  z-index: 2;
  position: absolute;
}

.active {
  display: block;
  /* display: list-item; */
}
